@import '../../app.component.scss';

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20vw;
}

.half {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
}