@import '../../app.component.scss';

nav {
    background-color: $main-orange;
    color: $main-white;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.half {
    display: flex;
    flex-direction: column;
}