@import '../../app.component.scss';

nav {
    background-color: $main-lead;
    color: $main-white;
    position: fixed;
    anchor-name: --header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 4px $main-gray;
}

.navbar-third {
    display: flex;
    flex-direction: row;
}

.left {
    gap: 1vw;
}
.middle {
    gap: 7vw;
}

app-nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
}