<nav>
    <div class="third">
        <app-nav-button
            routePath="/home"
            iconSource="/app/assets/logo.png"
            altText="LOGO"
            imgClass="logo-image"
        />
    </div>
    <div class="third">
        <app-nav-button
            routePath="/calls"
            iconSource="/app/assets/callsIcon.png"
            altText="CALLS"
            imgClass="nav-button-image"
        />
        <app-nav-button
            routePath="/clients"
            iconSource="/app/assets/clientsIcon.png"
            altText="CLIENTS"
            imgClass="nav-button-image"
        />
        <app-nav-button
            routePath="/registrations"
            iconSource="/app/assets/registrationsIcon.png"
            altText="REGISTRATIONS"
            imgClass="nav-button-image"
        />
        <app-nav-button
            routePath="/schedule"
            iconSource="/app/assets/scheduleIcon.png"
            altText="SCHEDULE"
            imgClass="nav-button-image"
        />
    </div>
    <div class="third">
        <app-nav-button
            routePath="/exit"
            iconSource="/app/assets/exitIcon.png"
            altText="EXIT"
            imgClass="nav-button-image"
        />
    </div>
</nav>