<nav>
    <div class="half">
        <app-nav-button
            routePath="/home"
            iconSource="/app/assets/logo.png"
            altText="LOGO"
        />
        <app-nav-button
            routePath="/home"
            iconSource="/app/assets/homeIcon.png"
            altText="HOME"
        />
        <app-nav-button
            routePath="/calls"
            iconSource="/app/assets/callsIcon.png"
            altText="CALLS"
        />
        <app-nav-button
            routePath="/clients"
            iconSource="/app/assets/clientsIcon.png"
            altText="CLIENTS"
        />
        <app-nav-button
            routePath="/registrations"
            iconSource="/app/assets/registrationsIcon.png"
            altText="REGISTRATIONS"
        />
        <app-nav-button
            routePath="/schedule"
            iconSource="/app/assets/scheduleIcon.png"
            altText="SCHEDULE"
        />
    </div>
    <div class="half">
        <app-nav-button
            routePath="/settings"
            iconSource="/app/assets/settingsIcon.png"
            altText="SETTINGS"
        />
        <app-nav-button
            routePath="/exit"
            iconSource="/app/assets/exitIcon.png"
            altText="EXIT"
        />
    </div>
</nav>