@import '../../app.component.scss';

nav {
    background-color: $main-lead;
    color: $main-white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third {
    display: flex;
    flex-direction: row;
    gap: 7vw;
}