a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;   
}

.nav-button-image {
    width: 35px;
    height: 35px;
}

.logo-image {
    width: 55px;
    height: 55px;
}