<div class="table-container">
    <table class="table" ng-if="tableType == 'people'">
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Cidade</th>
            <th>Chamado em aberto</th>
        </tr>
        <tr>
            <td>José Carlos da Silva</td>
            <td>(44) 99887-38288</td>
            <td>chunmei4899&#64;mail.com</td>
            <td>Maringá-PR</td>
            <td>Sim</td>
        </tr>
        <tr>
            <td>José Carlos da Silva</td>
            <td>(44) 99887-38288</td>
            <td>chunmei4899&#64;mail.com</td>
            <td>Maringá-PR</td>
            <td>Sim</td>
        </tr>
        <tr>
            <td>José Carlos da Silva</td>
            <td>(44) 99887-38288</td>
            <td>chunmei4899&#64;mail.com</td>
            <td>Maringá-PR</td>
            <td>Sim</td>
        </tr>
        <tr>
            <td>José Carlos da Silva</td>
            <td>(44) 99887-38288</td>
            <td>chunmei4899&#64;mail.com</td>
            <td>Maringá-PR</td>
            <td>Sim</td>
        </tr>
        <tr>
            <td>José Carlos da Silva</td>
            <td>(44) 99887-38288</td>
            <td>chunmei4899&#64;mail.com</td>
            <td>Maringá-PR</td>
            <td>Sim</td>
        </tr>
    </table>
</div>